/.gradle
/build
/*/build
app_MasteryLauncher/src/main/assets/components/jre
/app_MasteryLauncher/src/main/assets/components/jre-new/
/app_MasteryLauncher/src/main/assets/components/jre-21/
local.properties
.idea/
app_MasteryLauncher/.cxx/
.vs/
/curseforge_key.txt
/app_MasteryLauncher/libs/ltw-release.aar
