/.gradle
/build
/*/build
app_BitLauncher/src/main/assets/components/jre
/app_BitLauncher/src/main/assets/components/jre-new/
/app_BitLauncher/src/main/assets/components/jre-21/
local.properties
.idea/
app_BitLauncher/.cxx/
.vs/
/curseforge_key.txt
/app_BitLauncher/libs/ltw-release.aar
